<!-- 
    Begin bottom html boilerplate. When creating a new file, add
    include('../partials/base/html_bottom.ejs') to bottom of file
-->
        </main>

        <footer class="mt-3">
            <!-- Year updates automatically from the 'copright_year' var in sitevars dict from app.js -->
            <!-- Copyright holder also updates from app.js sitevars -->
            <!-- <p class="text-center text-muted">&copy; Copyright < %= sitevars.copyright_year %> < %= sitevars.copyright_holder %></p> -->
            
            <div class="container mt-3">
                <div class="row">
                    <div class="col text-center">
                        <a class="text-dark" href="<%= secrets.secret_sitevars.git_url %>" target="_blank" rel="noopener noreferrer">
                            <h3>
                                <i class="bi bi-git"></i>
                            </h3>
                        </a>
                    </div>
                </div>
            </div>

        </footer>

        <!-- Bootstrap JS import -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!-- Bootstrap popper.js import -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

        <!-- Initialize popper.js -->
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>
    </body>

</html>
