<!--
    At the top of each new views/pages/*.ejs file, import this file:
        include('../partials/base/html_top')
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Set title to variable site_title in sitevars dict from app.js -->
    <title><%= sitevars.site_title %></title>

    <!-- Minified Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- bootstrap-icons CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
      integrity="sha512-Oy+sz5W86PK0ZIkawrG0iv7XwWhYecM3exvUtMKNJMekGFJtVAhibhRPTpmyTj8+lJCkmWfnpxKgT2OopquBHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Optional: add 50px padding to top of pages -->
    <style>
      body {
        padding-top: 50px;
      }
    </style>

    <!-- Will automatically update your favicon if it's changed when page loads -->
    <!-- <link rel="icon" href="http://<%- sitevars.site_address %>/favicon.ico?v=2" /> -->
    <link rel="icon" href="/favicon.ico?v=2" />
  </head>

  <!-- Start all pages with a body container -->
  <body class="container">
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="/">reload</a> -->
        <div class="container">
          <a class="navbar-brand" href="/">
            <h1>
              <i class="bi bi-arrow-repeat"></i>
            </h1>
          </a>
        </div>
        <!-- Navbar links -->
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
          <li class="nav-item">
                        <a class="nav-link" href="/about">about</a>
                    </li> -->
          <!-- <li class="nav-item">
                        <a class="nav-link" href="/examples">examples</a>
                    </li> -->
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              examples
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="/card-examples">card examples</a>
              </li>
              <li>
                <a class="dropdown-item" href="/accordion-examples"
                  >accordion-examples</a
                >
              </li>
            </ul>
          </li> -->
        </ul>
      </nav>
      <!-- End Navbar -->
    </header>

    <main>
      <!--
            End top section of boilerplate html. When starting a new page, add
            include('../partials/partials/html_top.ejs') to top of file 
        -->
    </main>
  </body>
</html>
