<%- include('../partials/base/html_top') %>

<!-- Main html content -->
<div class="jumbotron"></div>

<%- include('../partials/modules/soundboard.ejs') %> <%-
include('../partials/base/html_bottom') %>
