<div class="container mt-3">
    <div class="row">
        <div class="col text-center">
            <h1>
                <%- tagline %></>
            </h1>
        </div>
    </div>

    <div class="row align-items-center mt-3">
        
        <% Object.keys(sounds).forEach(function(sound) { %>
            <div class="col">
                <div class="card text-center mt-3">
                    <h5 class="card-header">
                        <%= sounds[sound].cleanName %>
                    </h5>
                    <div class="mx-auto mt-1">
                        <audio controls>
                            <source src="<%= sounds[sound].cleanPath %>" type="audio/<%= sounds[sound].filetype %>">
                        </audio>
                    </div>
                </div>
            </div>
        <% }) %>

    </div>
</div>
